.wave {
    animation: wave-animation 2s infinite;
    display: inline-block;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(18deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(18deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(12deg);
    }

    60% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
