@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "./variable.css";
@import "./animation.css";
@import "./responsive.css";

html {
    scroll-behavior: smooth;
    color: var(--color-text2);
}

/* .sticky {
  backdrop-filter: blur(15px) !important;
  background-color: #1b1a2ea9 !important;
  box-shadow: 0 10px 10px 0 rgba(9, 5, 29, 0.171) !important;
} */

select,
button,
input,
textarea {
    outline: none;
}

.btn-wrapper {
    @apply hover:bg-text-green-500/30 transition-all duration-300 w-12 h-11 flex items-center justify-center rounded-lg cursor-pointer;
}

.btn-bg {
    background-image: linear-gradient(90deg, #ec4899, #8b5cf6);
    background-size: 150% 100%;
    background-position: 0% 0%;
    transition: background-position 0.4s ease;
}

.btn-bg:hover {
    background-position: 100% 0%;
}

.btn-outline {
    background: linear-gradient(to right, #ec4899, #8b5cf6);
    padding: 1.5px;
}

.btn-outline:hover {
    background: linear-gradient(to left, #ec4899, #8b5cf6);
}

.btn-outline-inner {
    border-radius: inherit;
    display: block;
}

.link {
    position: relative;
    transition: 0.4s;
}

.link::after,
.link--active::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1px;
    width: 0%;
    height: 2px;
    background: var(--color-text1);
    transition: 0.4s;
}

.link:hover {
    text-shadow: 0.5px 0 0 var(--color-text1);
    color: var(--color-text1);
}

.link:hover::after {
    width: calc(100% - 32px);
}

.link--active {
    color: var(--color-text1);
    text-shadow: 0.5px 0 0 var(--color-tex1);
}

.link--active::after {
    width: calc(100% - 32px);
}

.top-skill-card {
    background-image: linear-gradient(
        to right,
        transparent,
        #1dd2ec,
        #1dd2ec,
        transparent
    );
}

.slide-in {
    animation: slide-in 800ms;
}
