@layer utilities {
    .container {
        @apply mx-auto px-6;
    }

    /* sm */
    @media (min-width: 640px) {
        .container {
            max-width: 540px;
        }
    }

    /* md */
    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }

    /* lg */
    @media (min-width: 1024px) {
        .container {
            max-width: 960px;
        }
    }

    /* xl */
    @media (min-width: 1280px) {
        .container {
            max-width: 1140px;
        }
    }

    /* 2xl */
    @media (min-width: 1536px) {
        .container {
            max-width: 1320px;
        }
    }
}
