/*  LIGHT THEME */
@theme {
    /* Backgrounds */
    --color-bg-body: #fbfbfb;
    --color-bg-tertiary: #f8f9fa;

    /* Scrollbar */
    --color-scroll-track: #fff;
    --color-scroll-thumb: #ccc;
    --color-scroll-thumb-hover: #9e9e9e;

    /* Brand */
    --color-brand-name-100: #1ea780;
    --color-brand-name-200: #ec4899;
    --color-brand-social: #4762f8;

    /* Hero section */
    --color-border-hero-right: #eee;
    --gradient-bg-hero-right: linear-gradient(to right, #fff, #eee);

    /* border */
    --color-border: rgba(0, 0, 0, 0.16); /* viền xám nhạt */

    /* Text colors */
    --color-text-orange-code: #ff8904;
    --color-text-yellow-500: #fa9348;
    --color-text-yellow-300: #a18214;
    --color-text-green-500: #05df72;
    --color-text-green-700: #56b10e;
    --color-text-pink-code-200: #bd21b8;
    --color-text-blue-100: #00d3f3;
    --color-text2: #000;
    --color-text1: #1ea780;

    /* UI elements */
    --color-line-blue: #1a1443;
    --color-border-hero-right: #1b2c68a0;
    --gradient-bg-hero-right: linear-gradient(to right, #0d1224, #0a0d37);
    --color-glow-card-bg: #101123;
    --color-skill-card-bg: #11152c;
}

/* DARK THEME */
.dark {
    /* Backgrounds */
    --color-bg-body: #0d1224;
    --color-bg-tertiary: #0d1224;

    /* Scrollbar */
    --color-scroll-track: #0d1224;
    --color-scroll-thumb: #606060;
    --color-scroll-thumb-hover: #d6d6d6;

    /* Brand */
    --color-brand-name-100: #16f2b3;
    --color-brand-name-200: #ec4899;
    --color-brand-social: #ec4899;

    /* Hero section */
    --color-border-hero-right: #1b2c68a0;
    --gradient-bg-hero-right: linear-gradient(to right, #0d1224, #0a0d37);
    --gradient-border-top-hero: linear-gradient(
        to right,
        transparent,
        #ec4899,
        #8b5cf6,
        transparent
    );

    /* border */
    --color-border: rgba(255, 255, 255, 0.32);

    /* Text colors */
    --color-text2: #fff;
    --color-text1: #16f2b3;
    --color-text-orange-code: #ff8904;
    --color-text-yellow-500: #fa9348;
    --color-text-yellow-300: #ffd230;
    --color-text-green-500: #05df72;
    --color-text-green-700: #56b10e;
    --color-text-pink-code-200: #bd21b8;
    --color-text-blue-100: #00d3f3;

    /* UI elements */
    --color-glow-card-bg: #101123;
    --color-skill-card-bg: #11152c;
    --color-border-top-skill-card: linear-gradient(
        to right,
        transparent,
        #fff,
        #fff,
        transparent
    );
}
